<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log.base" value="d:/temp/YNET/logs" />
	<property name="serverName" value="goodsManager" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>utf-8</Encoding>
		<File>${log.base}/${serverName}/goodsManager.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/${serverName}/goodsManager-%d{yyyy-MM-dd}-%i.log
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"
		level="error" />

	<logger name="BaseLogger" level="debug" />
	
	<root>
		<level value="info" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>

</configuration>